@import '../../style/fonts';

.minorHeader {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .limit {
        max-width: 1160px;
        margin: 0 auto;
        padding: 30px 15px 85px;
        color: white;
        font-family: $Merienda;
        nav {
            margin-bottom: 60px;
            ul {
                display: flex;
                justify-content: space-around;
                max-width: 355px;
                flex-wrap: wrap;
                li {
                    display: flex;
                    align-items: flex-end;
                    margin-right: 10px;
                    @media (max-width: 377px) {
                        margin-bottom: 10px;
                    }
                    .link {
                        color: white;
                    }
                    img {
                        margin-right: -9px;
                    }
                }
            }
        }
        .content {
            h2 {
                font-size: 40px;
                font-weight: 700;
                line-height: 58px;
                text-align: center;
            }
        }
    }
}